
.Cuadro {
  margin: 4%;
  display: inline-block;
  height: 30%;
  width: 40%;
}

.Centrado {
  margin: 0 auto;
}

.HSPH {
  width: 13%;
  position: relative;
  display: block;
  left: 30%;
  top: 10%;
}
.Table {
  width: 15%;
  position: relative;
  display: block;
  left: 60%;
  top: 10%;
}