/*.principal {
  width: 100%;
} */
.Cuadro {
  margin: 4%;
  display: inline-block;
  height: 30%;
  width: 40%;
}

.Centrado {
  margin: 0 auto;
}

.HSPH {
  width: 13%;
  position: relative;
  display: block;
  left: 80%;
  top: 10%;
}