
.Cuadro {
  margin: 4%;
  display: inline-block;
  height: 30%;
  width: 40%;
}

.Centrado {
  margin: 0 auto;
}
  
.HSPH {
  width: 14%;
  position: relative;
  /*float: left;*/
  display: block;
  left: 30%;
  top: 10%;
}


